# Личные файлы shell
.bashrc
.bash_logout
.profile
.bash_history

# .NET и другие системные папки
.dotnet/

# VS Code настройки
.vscode/

# Виртуальное окружение Python
venv/
.venv/
env/
ENV/

# База данных и секреты
bot.db
*.env
.env

# Кэши Python
__pycache__/
*.pyc
